.switch {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 14px;
    bottom: 5px;
    
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -2px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: -1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 24px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .main_element{
      padding: 10px;
      background-color: #0b0d31;
      border-radius: 5px;
      width: 25em;
      
      
      
  }
 
  .flex_item{
      display: flex;
      justify-content: center;
      
  }
  
  .heading{
      color: #ccc;
      font-size: 20px;
  }

  .item_decorate{
      background-color: #1c2041;
      color: white;
  }
  .toggle{
      margin: 5px;
      padding: 10px;
      border-radius: 4px;
      
  }

  .slider_{
      margin: 5px;
      
  }

  .generated_password{
      padding:6px 12px 6px 12px ;
      word-wrap: break-word;
  }

  .toggle_text{
      display:inline-block;
      width: 80%;
  }

  button{
      width: 100%;
      background-color: #7351ac;
      padding:10px;
      color: white;
      border-radius: 4px;

  }
  .slider_ input{
      width : 90%;
      
  }

  .password_length{
      color: white;
  }